/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3161e0;
}

.container-flex{
    margin: 1% 20%;
    display: flex;
    background-color: gold;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: 0.2rem dotted black;
    width: 60%;
}

.logo-login{
    margin-left: 2rem;
    margin-right: 2rem;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-left: 0.2rem dotted black;
    border-right: 0.2rem dotted black;
    width: 60%;
}

ul{
    list-style-type: none
}

li{
    margin: 0.5rem;
}

.section-blue{
    display: flex;
    flex-direction: row;
    background-image: url("jumbo.png"); 
}

.container-pink{
    margin: 1% 20%;
    display: flex;
    background-color: magenta;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 40%;
   height: 20rem;
}
.section-white{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
}

.container-cyan{
    margin: 1% 20%;
    display: flex;
    background-color: white;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    height: 30rem;
}

.red one{
    background-image: url("item1.svg");
    flex-direction: row;
    width: 70%;
    height: 100%;
}

.red one{
    background-image: url("item2.svg");
    flex-direction: row;
    width: 70%;
    height: 100%;
}

.red three{
    background-image: url("item3.svg");
    flex-direction: row;
    width: 70%;
    height: 100%;
}

.green-one{
    display: flex;
    justify-content: flex-end;
    background-color: white;
    flex-direction: column;
    width: 30%;
    margin-bottom: 8%;
}

.text-two{
    display: flex;
    justify-content: flex-start;
    background-color:  #f6f6f6;
    flex-direction: column;
    width: 30%;
    margin-bottom: 25%;
}

.text-three{
    display: flex;
    justify-content: flex-start;
    background-color:  white;
    flex-direction: column;
    width: 30%;
    margin-bottom: 25%;
}


h2{
    margin-bottom: 5%;
    font-size: 2rem;
}

.section-grey{
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    justify-content: center;
}

.container-magenta{
    margin: 1% 20%;
    display: flex;
    background-color: #f6f6f6;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    width: 60%;
    height: 30rem;
}

.section-white{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: center;
}

.container-cyan{
    margin: 1% 20%;
    display: flex;
    background-color: white;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 60%;
   height: 30rem;
}

.container-oliva{
    margin: 1% 20%;
    display: flex;
    background-image: url("item4-big.svg");
    justify-content: space-between;
    width: 60%;
}

.section-multiple{
    display: flex;
    flex-direction: row;
    background-color: #23272a;;
    justify-content: center;
}

.container-purple{
    margin: 1% 20%;
    display: flex;
    background-color: #23272a;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: 0.2rem dotted black;
    width: 60%;
   height: 30rem;
}

.purple1{
    background-color: palevioletred;
    flex-direction: row;
    border-right: 0.2rem dotted black;
    width: 30%;
    height: 100%;
}

.purple2{
    display: flex;
    background-color: skyblue;
    flex-direction: row;
    border-right: 0.2rem dotted black;
    width: 80%;
    height: 100%;
}

.little{
    flex-direction: row;
    border-right: 0.2rem dotted black;
    width: 50%;
    height: 100%;
}

.flex2{
    display: flex;
    background-color: #23272a;
}

.container-flex2{
    margin: 0 20%;
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: 0.1rem solid black;
    width: 60%;
    height: 3rem;
    margin-top: 0.2%;

}

.logo-bottone{
    background-color: pink;
    border: 0.2rem dotted black;
}

.logo-bottone2{
    margin: 0.2rem;
}

.section-title{
    display: flex;
    flex-wrap: wrap;
}